n8n/workflows/01-welcome-email.json
{
    "name": "Welcome Email",
    "nodes": [
        {
            "id": "1",
            "name": "User Registered Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                260,
                280
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "user-registered",
                "responseMode": "onReceived"
            }
        },
        {
            "id": "2",
            "name": "Normalize Payload",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                500,
                280
            ],
            "parameters": {
                "functionCode": "return items.map((item) => ({ json: item.json.body ?? item.json }));"
            }
        },
        {
            "id": "3",
            "name": "Deduplicate Event",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                740,
                280
            ],
            "parameters": {
                "functionCode": "const seen = this.getWorkflowStaticData('global');\nconst output = [];\nfor (const item of items) {\n  const eventId = item.json.base?.eventId;\n  if (!eventId) {\n    output.push(item);\n    continue;\n  }\n  if (seen[eventId]) {\n    continue;\n  }\n  seen[eventId] = true;\n  output.push(item);\n}\nreturn output;"
            }
        },
        {
            "id": "4",
            "name": "Send Welcome Email",
            "type": "n8n-nodes-resend.resend",
            "typeVersion": 1,
            "position": [
                980,
                280
            ],
            "parameters": {
                "resource": "email",
                "operation": "send",
                "from": "SkillSync <noreply@saishashank.dev>",
                "to": "={{$json.email}}",
                "subject": "Welcome to SkillSync",
                "useTemplate": false,
                "emailFormat": "both",
                "html": "={{`<div><h1>Welcome to SkillSync</h1><p>Hello ${$json.name ?? \"there\"}, your account is ready.</p><p>You can now explore mentors, book sessions, and join learning groups.</p></div>`}}",
                "text": "={{`Welcome to SkillSync. Hello ${$json.name ?? \"there\"}, your account is ready. You can now explore mentors, book sessions, and join learning groups.`}}",
                "additionalOptions": {}
            },
            "credentials": {
                "resendApi": {
                    "id": "YAify4P98jQAJrnR",
                    "name": "SkillSync Resend API"
                }
            }
        }
    ],
    "connections": {
        "User Registered Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Payload": {
            "main": [
                [
                    {
                        "node": "Deduplicate Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Deduplicate Event": {
            "main": [
                [
                    {
                        "node": "Send Welcome Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "skillsync"
        }
    ]
}
