n8n/workflows/02-mentor-approved-email.json
{
    "name": "Mentor Approved Email",
    "nodes": [
        {
            "id": "1",
            "name": "Mentor Approved Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                260,
                280
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "mentor-approved",
                "responseMode": "onReceived"
            }
        },
        {
            "id": "2",
            "name": "Normalize Payload",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                500,
                280
            ],
            "parameters": {
                "functionCode": "return items.map((item) => ({ json: item.json.body ?? item.json }));"
            }
        },
        {
            "id": "3",
            "name": "Send Approval Email",
            "type": "n8n-nodes-resend.resend",
            "typeVersion": 1,
            "position": [
                740,
                280
            ],
            "parameters": {
                "resource": "email",
                "operation": "send",
                "from": "SkillSync <noreply@saishashank.dev>",
                "to": "={{$json.email || \"mentor@example.com\"}}",
                "subject": "Your mentor profile is approved",
                "useTemplate": false,
                "emailFormat": "both",
                "html": "={{`<div><h1>Mentor profile approved</h1><p>Your SkillSync mentor profile has been approved.</p><p>You can now accept session requests and start mentoring.</p></div>`}}",
                "text": "={{`Your SkillSync mentor profile has been approved. You can now accept session requests and start mentoring.`}}",
                "additionalOptions": {}
            },
            "credentials": {
                "resendApi": {
                    "id": "YAify4P98jQAJrnR",
                    "name": "SkillSync Resend API"
                }
            }
        }
    ],
    "connections": {
        "Mentor Approved Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Payload": {
            "main": [
                [
                    {
                        "node": "Send Approval Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "skillsync"
        }
    ]
}
