n8n/workflows/02-mentor-approved-email.json
{
  "name": "Mentor Approved Email",
  "nodes": [
    {
      "id": "1",
      "name": "Mentor Approved Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        280
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "mentor-approved",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "2",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        280
      ],
      "parameters": {
        "functionCode": "return items.map((item) => ({ json: item.json.body ?? item.json }));"
      }
    },
    {
      "id": "3",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        740,
        280
      ],
      "parameters": {
        "resource": "mail",
        "operation": "send",
        "fromEmail": "noreply@skillsync.local",
        "fromName": "SkillSync",
        "toEmail": "={{ $json.email || 'mentor@example.com' }}",
        "subject": "Your mentor profile is approved",
        "dynamicTemplate": true,
        "templateId": "SENDGRID_MENTOR_APPROVED_TEMPLATE_ID",
        "dynamicTemplateFields": {
          "fields": [
            {
              "key": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "key": "mentorId",
              "value": "={{ $json.mentorId }}"
            }
          ]
        },
        "contentType": "text/plain",
        "contentValue": "Congratulations, your mentor profile is approved."
      }
    }
  ],
  "connections": {
    "Mentor Approved Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "skillsync"
    }
  ]
}
