n8n/workflows/03-session-confirmation.json
{
    "name": "Session Confirmation",
    "nodes": [
        {
            "id": "1",
            "name": "Session Accepted Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                200,
                320
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "session-accepted",
                "responseMode": "onReceived"
            }
        },
        {
            "id": "2",
            "name": "Normalize Payload",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                440,
                320
            ],
            "parameters": {
                "functionCode": "return items.map((item) => ({ json: item.json.body ?? item.json }));"
            }
        },
        {
            "id": "3",
            "name": "Get Session Details",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                680,
                320
            ],
            "parameters": {
                "method": "GET",
                "url": "=http://host.docker.internal:8085/sessions/internal/{{$node['Normalize Payload'].json.sessionId}}"
            }
        },
        {
            "id": "4",
            "name": "Filter New Integrations",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                920,
                320
            ],
            "parameters": {
                "functionCode": "return items.filter((item) => !item.json.data?.calendarEventId);"
            }
        },
        {
            "id": "5",
            "name": "Fetch Mentor User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                1160,
                320
            ],
            "parameters": {
                "method": "GET",
                "url": "=http://host.docker.internal:8082/users/internal/{{$node['Normalize Payload'].json.mentorId}}"
            }
        },
        {
            "id": "6",
            "name": "Fetch Learner User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                1400,
                320
            ],
            "parameters": {
                "method": "GET",
                "url": "=http://host.docker.internal:8082/users/internal/{{$node['Normalize Payload'].json.learnerId}}"
            }
        },
        {
            "id": "8",
            "name": "Create Zoom Meeting",
            "type": "n8n-nodes-base.zoom",
            "typeVersion": 1,
            "position": [
                1640,
                240
            ],
            "parameters": {
                "authentication": "oAuth2",
                "resource": "meeting",
                "operation": "create",
                "topic": "={{ 'SkillSync Session ' + $node['Normalize Payload'].json.sessionId }}",
                "additionalFields": {
                    "type": 2,
                    "startTime": "={{ $node['Get Session Details'].json.data.startAt }}",
                    "duration": "={{ Math.round((new Date($node['Get Session Details'].json.data.endAt).getTime() - new Date($node['Get Session Details'].json.data.startAt).getTime()) / 60000) }}",
                    "agenda": "={{ $node['Normalize Payload'].json.topic || 'SkillSync mentoring session' }}"
                }
            }
        },
        {
            "id": "7",
            "name": "Create Calendar Event",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.3,
            "position": [
                1880,
                240
            ],
            "parameters": {
                "resource": "event",
                "operation": "create",
                "calendar": {
                    "mode": "id",
                    "value": "saishashanknarang@gmail.com"
                },
                "start": "={{ $node['Get Session Details'].json.data.startAt }}",
                "end": "={{ $node['Get Session Details'].json.data.endAt }}",
                "additionalFields": {
                    "summary": "={{ 'SkillSync Session: ' + $node['Normalize Payload'].json.sessionId }}",
                    "description": "={{ 'SkillSync mentoring session\\nSession ID: ' + $node['Normalize Payload'].json.sessionId + '\\nTopic: ' + ($node['Normalize Payload'].json.topic || 'SkillSync mentoring session') + '\\nZoom: ' + $node['Create Zoom Meeting'].json.join_url }}",
                    "location": "={{ $node['Create Zoom Meeting'].json.join_url }}",
                    "attendees": "={{ [ $node['Fetch Mentor User'].json.data.email + ',' + $node['Fetch Learner User'].json.data.email ] }}",
                    "sendUpdates": "all"
                }
            }
        },
        {
            "id": "9",
            "name": "Update Session Integration",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                2120,
                240
            ],
            "parameters": {
                "method": "PATCH",
                "url": "=http://host.docker.internal:8085/sessions/internal/{{$node['Normalize Payload'].json.sessionId}}/integration",
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={{ { zoomLink: $node['Create Zoom Meeting'].json.join_url, calendarEventId: $node['Create Calendar Event'].json.id } }}"
            }
        },
        {
            "id": "10",
            "name": "Send Confirmation Email",
            "type": "n8n-nodes-resend.resend",
            "typeVersion": 1,
            "position": [
                2360,
                240
            ],
            "parameters": {
                "resource": "email",
                "operation": "send",
                "from": "SkillSync <noreply@saishashank.dev>",
                "to": "={{$node[\"Fetch Mentor User\"].json.data.email + \",\" + $node[\"Fetch Learner User\"].json.data.email}}",
                "subject": "SkillSync session confirmed",
                "useTemplate": false,
                "emailFormat": "both",
                "html": "={{`<div><h1>Session confirmed</h1><p>Your SkillSync session #${$node[\"Normalize Payload\"].json.sessionId} is confirmed.</p><p>Start time: ${$node[\"Get Session Details\"].json.data.startAt}</p><p>Zoom link: <a href=\"${$node[\"Create Zoom Meeting\"].json.join_url}\">${$node[\"Create Zoom Meeting\"].json.join_url}</a></p></div>`}}",
                "text": "={{`Your SkillSync session #${$node[\"Normalize Payload\"].json.sessionId} is confirmed. Start time: ${$node[\"Get Session Details\"].json.data.startAt}. Zoom link: ${$node[\"Create Zoom Meeting\"].json.join_url}`}}",
                "additionalOptions": {}
            },
            "credentials": {
                "resendApi": {
                    "id": "YAify4P98jQAJrnR",
                    "name": "SkillSync Resend API"
                }
            }
        }
    ],
    "connections": {
        "Session Accepted Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Payload": {
            "main": [
                [
                    {
                        "node": "Get Session Details",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Session Details": {
            "main": [
                [
                    {
                        "node": "Filter New Integrations",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter New Integrations": {
            "main": [
                [
                    {
                        "node": "Fetch Mentor User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Mentor User": {
            "main": [
                [
                    {
                        "node": "Fetch Learner User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Learner User": {
            "main": [
                [
                    {
                        "node": "Create Zoom Meeting",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Zoom Meeting": {
            "main": [
                [
                    {
                        "node": "Create Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Calendar Event": {
            "main": [
                [
                    {
                        "node": "Update Session Integration",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Session Integration": {
            "main": [
                [
                    {
                        "node": "Send Confirmation Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "skillsync"
        }
    ]
}
