n8n/workflows/04-payment-receipt.json
{
    "name": "Payment Receipt",
    "nodes": [
        {
            "id": "1",
            "name": "Payment Received Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                260,
                280
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "payment-received",
                "responseMode": "onReceived"
            }
        },
        {
            "id": "2",
            "name": "Normalize Payload",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                500,
                280
            ],
            "parameters": {
                "functionCode": "return items.map((item) => ({ json: item.json.body ?? item.json }));"
            }
        },
        {
            "id": "3",
            "name": "Send Receipt Email",
            "type": "n8n-nodes-resend.resend",
            "typeVersion": 1,
            "position": [
                740,
                280
            ],
            "parameters": {
                "resource": "email",
                "operation": "send",
                "from": "SkillSync <noreply@saishashank.dev>",
                "to": "={{$json.email || $json.payerEmail || \"learner@example.com\"}}",
                "subject": "SkillSync payment receipt",
                "useTemplate": false,
                "emailFormat": "both",
                "html": "={{`<div><h1>Payment received</h1><p>We have received your payment for SkillSync.</p><p>Payment ID: ${$json.paymentId ?? \"N/A\"}</p><p>Session ID: ${$json.sessionId ?? \"N/A\"}</p></div>`}}",
                "text": "={{`We have received your payment for SkillSync. Payment ID: ${$json.paymentId ?? \"N/A\"}. Session ID: ${$json.sessionId ?? \"N/A\"}.`}}",
                "additionalOptions": {}
            },
            "credentials": {
                "resendApi": {
                    "id": "YAify4P98jQAJrnR",
                    "name": "SkillSync Resend API"
                }
            }
        }
    ],
    "connections": {
        "Payment Received Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Payload": {
            "main": [
                [
                    {
                        "node": "Send Receipt Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "skillsync"
        }
    ]
}
